
.controls button {
  cursor: pointer;
  padding: 10px;
  margin-top: 1em;
}

.controls button:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
  inset 0 1px 0 #e298d8;
  transform: scale(0.99);
}

.infoColumn {
  width: 20%;
  padding: 10px;
}

.card {
  box-shadow: 0 8px 10px -6px cornflowerblue;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid cornflowerblue;
  margin-bottom: 40px;
  font-size: large;
}
